NODE_ENV=development
PORT=3000
API_VERSION=v1

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/gabon_ecommerce"

JWT_SECRET=CHANGE_MOI_SECRET_TRES_LONG
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=CHANGE_MOI_REFRESH_SECRET
JWT_REFRESH_EXPIRES_IN=30d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM="Gabon Commerce <noreply@gaboncommerce.ga>"

FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

AIRTEL_MONEY_API_URL=
AIRTEL_MONEY_API_KEY=
MOOV_MONEY_API_URL=
MOOV_MONEY_API_KEY=
MOBICASH_API_URL=
MOBICASH_API_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

DEFAULT_COMMISSION_RATE=7
FRONTEND_URL=http://localhost:3001